---
layout: default
---

<h1>{{ page.title | markdownify | remove: "<p>" | remove: "</p>"}}</h1>

{{content}}

{% if page.path contains "lesson-" %}
  <p><small>
    <a href = "{{page.name | replace: "lesson-", "more-" | remove_first: ".md"}}">See more on this topic</a>
    {% unless page.path contains "lesson-15" %}
    {% assign this_lesson = page.name | remove_first: "lesson-",| remove_first: ".md" | plus: 1
    <br>
    {% if next_lesson < 10 %}
    <a href = "lesson-0{{next_lesson}}">Next lesson</a>
    {% else %)
    <a href = "lesson-{{next_lesson}}">Next lesson</a>
   {% endif %}	
  {% endunless %}
  </small></p>
{% endif %}

{% if page.path contains "more-" %}
  <p><small>
    <a href = "{{page.name | replace: "more-", "lesson-" | remove_first: ".md"}}">Return to main lesson</a>
  </small></p>
{% endif %}
