---
layout: default
---

{% if page.title == "What is LaTeX and how does it work?" %}
  <h1>What is {{ site.latex }} and how does it work?</h1>
{% else %}
{% if page.title == "More on: What is LaTeX and how does it work?" %}
  <h1>More on: What is {{ site.latex }} and how does it work?</h1>
{% else %}
 <h1>{{ page.title | markdownify | remove: "<p>" | remove: "</p>"}}</h1>
{% endif %}
{% endif %}


{{content}}

{% if page.path contains "lesson-" %}
  <p><small>
    <a href = "{{page.name | replace: "lesson-", "more-" | remove_first: ".md"}}">See more on this topic</a>
    {% unless page.path contains "lesson-15" %}
     <br>
     {% if page.name contains "lesson-1" or  page.name contains "lesson-09" %}
     <a href = "lesson-{{page.name | remove_first: "lesson-" | remove_first: ".md" | plus: 1}}">Next lesson</a>
     {% else %}
      <a href = "lesson-0{{page.name | remove_first: "lesson-" | remove_first: ".md" | plus: 1}}">Next lesson</a>
    {% endif %}
    {% endunless %}
  </small></p>
{% endif %}

{% if page.path contains "more-" %}
  <p><small>
    <a href = "{{page.name | replace: "more-", "lesson-" | remove_first: ".md"}}">Return to main lesson</a>
  </small></p>
{% endif %}
